*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    
    
    
}

nav{
    height: 10vh;
    background:#d5a499;
    
}
.landing{
    display: flex;
    justify-content:space-around;
    height: 68vh;

}

.nav-links{

    list-style: none;
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    


}
.nav-links li a{

color: black;
font-family: 'Antonio', sans-serif;

}

#links{
   font-size: x-large; 
}


@media screen and (max-width:768px){

    .line {
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px;
    }
    nav{
        position: relative;
    }

    .hambagur{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    .nav-links{
        position: fixed;
        background: #d5a499;
        height: 100vh;
        flex-direction: column;
    

}
/*.nav-links.open{
pointer-events: all;
}*/
}
.intro{
    background-color: white;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

.intro p{
    color: #C27E79;
}
.footer{
    width: 100%;
    display: flex;
    justify-content:center;
    height:34rem;
    padding: 20px;
    

}

.card{
    margin: 10px;
    width: 25%;
    box-shadow: 1rem;
    height: 30rem;
    border-radius: 5%;
    align-items: center;
    box-shadow:0.3px 1px 1px 1px;
    cursor: pointer;
    
}

.card :hover{
    color: #d5a499;
}

/*.socials{

    width: 90%;
    height: 10rem;
    background:green;
}*/

.fa-regular{
    background: white;
    font-size: xx-large;
    width: 95%;
    display: flex;
    justify-content:center;
    align-items: center;
    height:5rem;
    padding: 1px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    
}
#h2 {

    display: flex;
    justify-content: center;
    align-content: center;
}

.fa-solid{

    background:white;
    font-size: xx-large;
    width: 95%;
    display: flex;
    justify-content:center;
    align-items: center;
    height:5rem;
    padding: 1px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;  
}
#description {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font-size: x-large;


}

#notes{

    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font-size: larger; 
    color: #C27E79; 
}
    
.socials{
    height: 30rem;
    background: #C27E79;
    width: 100%;
    justify-content: center;
    align-items: center;

}
